@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

header#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 99;
  background-color: #f8f1e8;
}

header#header nav.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 15px; */
}

header#header nav.container .left_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#header nav.container .left_section a.logo img {
  display: block;
  width: 140px;
  max-width: none;
  margin-right: 8px;
}

header#header nav.container .left_section ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header#header nav.container .left_section ul.menu li.menu_item {
  list-style: none;
  position: relative;
}

header#header nav.container .left_section ul.menu li.menu_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #222d38;
  padding: 28px 32px 28px 16px;
  font-weight: 700;
  font-size: 18px;
}

header#header nav.container .left_section ul.menu li.menu_item a i {
  margin-left: 12px;
  color: #617080;
  font-size: 10px;
}

header#header nav.container .left_section ul.menu li.menu_item a:hover {
  color: #617080;
}

header#header nav.container .left_section ul.menu li.menu_item a:hover i {
  color: #1fae96;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(1):hover + nav.products_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(3):hover + nav.customers_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(5) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(5):hover + nav.library_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(7) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(7):hover + nav.resources_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(9) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

header#header nav.container .left_section ul.menu li.menu_item:nth-child(9):hover + nav.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

header#header nav.container .left_section ul.menu nav.products_container,
header#header nav.container .left_section ul.menu nav.customers_container,
header#header nav.container .left_section ul.menu nav.library_container,
header#header nav.container .left_section ul.menu nav.resources_container,
header#header nav.container .left_section ul.menu nav.about_container {
  display: none;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-13.6%);
          transform: translateX(-13.6%);
  top: 82px;
  width: 98.8vw;
  background-color: #ffffff;
  z-index: 0;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

header#header nav.container .left_section ul.menu nav.products_container,
header#header nav.container .left_section ul.menu nav.customers_container,
header#header nav.container .left_section ul.menu nav.about_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section,
header#header nav.container .left_section ul.menu nav.customers_container .top_section,
header#header nav.container .left_section ul.menu nav.about_container .top_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 50px;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column h4.section_title,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column h4.section_title,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column h4.section_title {
  margin-bottom: 20px;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column a,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column a .left_column img,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .left_column img,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .left_column img {
  width: 26px;
  height: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column a .right_column h4,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .right_column h4,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .right_column h4 {
  font-size: 18px;
  color: #222D64;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column a .right_column h4 span.new_badge,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .right_column h4 span.new_badge,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .right_column h4 span.new_badge {
  position: relative;
  top: -2px;
  display: inline-block;
  padding: 2px 9px;
  border-radius: 16px;
  background-color: #e9f7f4;
  color: #167b6a;
  font-size: 11px;
  line-height: 130%;
  text-transform: uppercase;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column a .right_column p,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .right_column p,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .right_column p {
  font-size: 16px;
  color: #46586b;
}

header#header nav.container .left_section ul.menu nav.products_container .top_section .column a:hover > .right_column > h4,
header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a:hover > .right_column > h4,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a:hover > .right_column > h4 {
  color: #617080;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section {
  width: 100%;
  background-image: url("../images/bottom_background.png");
  -webkit-box-shadow: inset 0 1px 0 0 #eeeeee;
          box-shadow: inset 0 1px 0 0 #eeeeee;
  background-position: 0 0;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 50px;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section a,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section a img,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a img,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a img {
  width: 34px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section a h3,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a h3,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a h3 {
  color: #222d38;
  font-weight: 700;
  margin-right: 10px;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section a p,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a p,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a p {
  color: #46586b;
  font-size: 17px;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section a i,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a i,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a i {
  color: #1fae96;
  margin-left: 10px;
  font-size: 12px;
}

header#header nav.container .left_section ul.menu nav.products_container .bottom_section a:hover > h3,
header#header nav.container .left_section ul.menu nav.products_container .bottom_section a p,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a:hover > h3,
header#header nav.container .left_section ul.menu nav.customers_container .bottom_section a p,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a:hover > h3,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section a p {
  color: #617080;
}

header#header nav.container .left_section ul.menu nav.products_container:hover,
header#header nav.container .left_section ul.menu nav.customers_container:hover,
header#header nav.container .left_section ul.menu nav.about_container:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .left_column img,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .left_column img {
  width: 40px;
  height: 40px;
}

header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .right_column h4,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .right_column h4 {
  text-transform: uppercase;
}

header#header nav.container .left_section ul.menu nav.customers_container .top_section .column a .right_column p i,
header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .right_column p i {
  margin-left: 10px;
  font-size: 12px;
}

header#header nav.container .left_section ul.menu nav.customers_container .bottom_section,
header#header nav.container .left_section ul.menu nav.about_container .bottom_section {
  background-color: #fafbfc;
  background-image: none;
}

header#header nav.container .left_section ul.menu nav.customers_container:hover,
header#header nav.container .left_section ul.menu nav.about_container:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#header nav.container .left_section ul.menu nav.library_container {
  background-color: green;
}

header#header nav.container .left_section ul.menu nav.library_container:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#header nav.container .left_section ul.menu nav.resources_container {
  background-color: blue;
}

header#header nav.container .left_section ul.menu nav.resources_container:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#header nav.container .left_section ul.menu nav.about_container .top_section {
  width: 100%;
}

header#header nav.container .left_section ul.menu nav.about_container .top_section .column a .left_column img {
  width: 30px;
  height: 30px;
}

header#header nav.container .left_section ul.menu nav.about_container:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#header nav.container .right_section button.signin_cta {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  padding: 18px 16px 17px;
  color: #222d38;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 17px;
}

header#header nav.container .right_section button.signin_cta:hover {
  color: #617080;
}

header#header nav.container .right_section button.request_demo_cta {
  display: inline-block;
  padding: 12px 25px;
  border: 1px solid rgba(97, 112, 128, 0.2);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  background-color: transparent;
  color: #222d38;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
}

header#header:hover {
  background-color: #ffffff;
  border-color: #cccccc;
}

header#header.scrolled {
  background-color: #ffffff;
}

header#header.scrolled .right_section button.request_demo_cta {
  background-color: #1fae96 !important;
  border-color: rgba(97, 112, 128, 0.2) !important;
  color: #ffffff !important;
}

main#main section#home_section {
  padding-top: 150px;
  padding-bottom: 160px;
  background-color: #f8f1e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(248, 241, 233, 0.94)), color-stop(32%, rgba(248, 241, 232, 0))), url("../images/home_background.jpg");
  background-image: linear-gradient(180deg, rgba(248, 241, 233, 0.94) 10%, rgba(248, 241, 232, 0) 32%), url("../images/home_background.jpg");
  background-position: 0 0, 50% -100px;
  background-size: auto, 2440px;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  position: relative;
}

main#main section#home_section .wrapper {
  color: #46586b;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 1400px;
  min-height: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-top: 0px;
  text-align: left;
}

main#main section#home_section .wrapper h1 {
  margin: .67em 0;
  color: #222d38;
  margin-bottom: 16px;
  margin-top: -32px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-align: left;
}

main#main section#home_section .wrapper p {
  margin-top: 0;
  letter-spacing: 0;
  margin-bottom: 16px;
  color: #464c52;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
}

main#main section#home_section .wrapper a {
  font-family: inherit;
  text-align: left;
  position: relative;
  z-index: 9;
  display: inline-block;
  clear: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  background-color: #1fae96;
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.09);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  color: #fdfeff;
  line-height: 25px;
  letter-spacing: .2px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 4px;
  padding: 15px 32px;
}

main#main section#home_section .wrapper a:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

main#main section#home_section .wrapper .home_work {
  color: #46586b;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  position: absolute;
  left: auto;
  top: -20px;
  right: -20px;
  bottom: auto;
  width: 400px;
  height: 400px;
  -webkit-perspective: 1490px;
          perspective: 1490px;
  -webkit-transform: perspective(961px);
          transform: perspective(961px);
}

main#main section#home_section .wrapper .home_work img.work-from-home-hero-mask {
  color: #46586b;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  width: 250px;
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 85px;
  right: 119px;
  bottom: auto;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

main#main section#home_section .wrapper .home_work .work-from-home-perspective {
  color: #46586b;
  font-size: 17px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: Hellix, Arial, sans-serif;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 200px;
  -webkit-perspective: 1510px;
          perspective: 1510px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transform: rotateX(1deg) rotateY(-9deg) rotateZ(1deg) translate(95px, -5px) perspective(1000px);
          transform: rotateX(1deg) rotateY(-9deg) rotateZ(1deg) translate(95px, -5px) perspective(1000px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

main#main section#home_section .wrapper .home_work .work-from-home-perspective img.work-from-home-hero-screen {
  color: #46586b;
  font-size: 17px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: Hellix, Arial, sans-serif;
  text-align: left;
  width: 684px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  left: auto;
  top: -40px;
  right: 79px;
  bottom: auto;
  z-index: 0;
  max-width: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 0 rgba(54, 35, 15, 0.23), 14px 14px 20px 0 rgba(54, 35, 15, 0.07);
          box-shadow: 0 0 2px 0 rgba(54, 35, 15, 0.23), 14px 14px 20px 0 rgba(54, 35, 15, 0.07);
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transform: translate3d(0px, -81px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, -81px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 1;
}

main#main section#home_section .wrapper .home_work .work-from-home-perspective img.work-from-home-hero-cam {
  color: #46586b;
  font-size: 17px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: Hellix, Arial, sans-serif;
  text-align: left;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 150px;
  bottom: auto;
  z-index: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 0 rgba(34, 45, 56, 0.2), 2px 8px 10px 0 rgba(34, 45, 56, 0.1);
          box-shadow: 0 0 2px 0 rgba(34, 45, 56, 0.2), 2px 8px 10px 0 rgba(34, 45, 56, 0.1);
  opacity: 1;
  -webkit-transform: translate3d(-326px, 111px, 1px) scale3d(0.6, 0.6, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(-326px, 111px, 1px) scale3d(0.6, 0.6, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

main#main section#home_section img.home_bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}

main#main section#brand_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 100px 0;
}

main#main section#brand_section h2 {
  font-size: 38px;
  font-weight: 700;
  margin: 20px 0;
  color: #222d38;
}

main#main section#brand_section p {
  font-size: 22px;
  margin-bottom: 15px;
  color: #46586b;
}

main#main section#brand_section img {
  margin: 0 auto;
  width: 80%;
}

footer#footer {
  padding: 80px 30px;
  background-image: url("../images/bottom_icon.svg");
  background-position: 50% 100%;
  background-size: auto 40px;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=styles.css.map */